<h1>Index page</h1>

<ul>
  <li><code>GET</code> <%= link_to '/foo/bar', '/foo/bar' %></li>
  <li><code>POST</code> <%= link_to '/foo/bar', '/foo/bar', data: { method: :post } %></li>
  <li><code>PUT</code> <%= link_to '/foo/bar', '/foo/bar', data: { method: :put } %></li>
  <li><code>PATCH</code> <%= link_to '/foo/bar', '/foo/bar', data: { method: :patch } %></li>
</ul>